<div class="navbar-nav me-auto mb-2 mb-lg-0">
  <div class="nav-item">
    <a routerLink="/" class="nav-link" routerLinkActive="router-link-exact-active"
      [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>
  </div>
  <div class="nav-item">
    <a routerLink="/profile" class="nav-link" routerLinkActive="router-link-exact-active">
      Profile
    </a>
  </div>
  <div class="nav-item">
    <a routerLink="/posts" class="nav-link" routerLinkActive="router-link-exact-active">
      Blog
    </a>
  </div>
  <!-- <div class="nav-item dropdown">
    <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      Administration
    </a>
    <ul id="dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item nav-link" href="#">Users</a></li>
      <li><a class="dropdown-item nav-link" href="#">Posts</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#"></a></li>
    </ul>
  </div> -->
</div>
